[Unit]
Description=OPAL PRD daemon
Requires=opal-prd.socket

[Service]
StandardInput=socket
ExecStart=/usr/sbin/opal-prd

[Install]
WantedBy=multi-user.target
